/**
 * ROFI Color theme (3-color version)
 * User: Qball
 * Copyright: Dave Davenport
 */

* {
    fg:                #ffeedd;
    bg:                #000000;
    itc:               #242424;

    backlight:         @itc;
    black:             @bg;
    lightblack:        @bg;
    tlightblack:       @bg;

    red:               @itc;
    lightred:          @itc;

    green:             @itc;
    lightgreen:        @itc;

    yellow:            @itc;
    lightyellow:       @itc;

    blue:              @itc;
    lightblue:         @itc;

    magenta:           @itc;
    lightmagenta:      @itc;

    cyan:              @itc;
    tcyan:             @itc;
    lightcyan:         @itc;

    white:             @fg;
    lightwhite:        @fg;

    highlight:         underline bold;
    transparent:       #00000000;
    font:              "Source Code Pro 10";
    border-radius: 15px 15px 0px 0px;
}

window {
    location: center;
    anchor: center;
    transparency: "real";
    padding: 0px;
    border: 0px;
    border-radius: 15px;
    color: @itc;
    background-color: transparent;
    spacing: 0;
    children: [mainbox];
    orientation: horizontal;
}

mainbox {
    spacing: 0;
    children: [ message, listview ];
    background-color: #00000080;
    border-radius: 15px 15px 0px 0px;
}

message {
    border-color: @fg;
    border: 0px 2px 2px 2px;
    padding: 5;
    background-color: @transparent;
    font: "Source Code Pro 8";
    color: @bg;
}

inputbar {
    color: @itc;
    padding: 11px;
    background-color: @bg;
    border: 0px;
    border-radius: 15px 15px 0px 0px;
    border-color: @fg;
    font: "Source Code Pro 18";
}

entry, prompt, case-indicator {
    text-font: inherit;
    text-color: inherit;
}

prompt {
    margin: 0px 0.3em 0em 0em;
}

listview {
    padding: 8px;
    border-radius: 15px;
    border-color: @fg;
    border: 0px;
    // 2px 2px 2px;
    background-color: #00000080;
    dynamic: false;
    lines: 10;
    border-radius: 0px 2px 2px 2px;
}

element {
    padding: 3px;
    vertical-align: 0.5;
    border-radius: 10px;
    background-color: @transparent;
    color: @fg;
    font: inherit;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element normal.normal {
    background-color: @transparent;
    text-color: @fg;
}

element alternate.normal {
    background-color: @transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @itc;
    text-color: @bg;
}

element normal active {
    foreground: @itc;
    background-color: @transparent;
}

element normal urgent {
    foreground: @itc;
    background-color: @transparent;
}

element alternate active {
    foreground: @itc;
    background-color: @transparent;
}

element alternate urgent {
    foreground: @itc;
    background-color: @transparent;
}

element selected active {
    background-color: @itc;
    foreground: @bg;
}

element selected urgent {
    background-color: @itc;
    foreground: @bg;
}

vertb {
    expand: false;
    children: [ dummy0, mode-switcher, dummy1 ];
}

dummy0, dummy1 {
    expand: true;
}

mode-switcher {
    expand: false;
    orientation: vertical;
    spacing: 0px;
    border: 0px 0px 0px 0px;
}

button {
    font: "FontAwesome 22";
    padding: 6px;
    border: 2px 0px 2px 2px;
    border-radius: 4px 0px 0px 4px;
    background-color: @bg;
    border-color: @fg;
    color: @fg;
    horizontal-align: 0.5;
}

button selected normal {
    color: @bg;
    border: 2px 0px 2px 2px;
    background-color: @itc;
    border-color: @fg;
}

error-message {
    expand: true;
    background-color: @itc;
    border-color: @bg;
    border: 2px;
    padding: 1em;
}
