.nemo-menu {
  padding: 8px;
  border-radius: 19px;
  border: 0px solid $itc;
  border-top: none;
  background: rgba(0, 0, 0, 0.70);
}

.nemo-desktop-btn,
.nemo-documents-btn,
.nemo-downloads-btn,
.nemo-music-btn,
.nemo-pictures-btn,
.nemo-projects-btn {
  margin-bottom: 2px;
  font-size: 10px;
  padding: 6px 8px;
  border-radius: 20px;
  background: $bg3;
  color: #aeaeae;
  font-family: "Adwaita Sans Medium";
  font-weight: 600;
}

.nemo-desktop-btn:hover,
.nemo-documents-btn:hover,
.nemo-downloads-btn:hover,
.nemo-music-btn:hover,
.nemo-pictures-btn:hover,
.nemo-projects-btn:hover {
  background: $bg4;
}

.nemo-projects-btn {
margin-bottom: 0px;
}


