@import "../../.config/hypr/colors/color.css";
@define-color ac1 #aeaeae;
@define-color bg1 rgba(0, 0, 0, 1.0);
* {
font-family: "Adwaita Sans Medium";
font-weight: 600;
}
/* #waybar .module { */
/*     margin-left: 0px; */
/*     margin-right: 0px; */
/* } */
/* Общий сброс фона основной панели */
window#waybar {
    background: transparent;
    margin: 50px 50px;
    border-radius: 12px;  /* Фиксированное скругление */
    padding: 0 10px;  /* Фиксированные отступы */
    margin: 3px 3px;  /* Фиксированные margins */
}

/* Стили для часов и воркспэйсов (черные капсулы) */
#pulseaudio,
#custom-notifications,
#custom-player,
#memory,
#backlight-slider,
#battery,
#language,
#custom-swaync,
#network,
#clock {
    background-color: @bg1;
    color: @ac1;
    border-radius: 30px;
    padding: 2px 10px;
    margin: 0px 5px;
    font-size: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
#backlight {
    background-color: @bg1;
    color: @ac1;
    border-radius: 30px;
    padding: 2px 10px;
    padding-right: 11px;
    padding-left: 7px;
    margin: 0px 5px;
    font-size: 13px;

}
#tray {
    background-color: @bg1;
    color: @ac1;
    border-radius: 30px;
    padding: 2px 8px;
    margin: 0px 5px;
    font-size: 10px;

}
#workspaces {
    background-color: @bg1;
    color: @itc;
    border-radius: 20px;
    padding: 2px 3px;
    margin: 0 5px;
}

#workspaces button {
    background: transparent;
    border-radius: 10px;
    color: @itc2;
    min-height: 0;
    margin: 2px 2px;
    padding: 0px 3px;

    transition: all 0.1s ease-out;
}

#workspaces button.active {
    background: linear-gradient(to bottom, @itc, shade(@itc, 3.2)); 
    color: @bg1;
    border-radius: 10px;
    padding: 0px 7px;
    margin: 2px 2px;

    transition: all 0.1s ease-out;
}

#pulseaudio-slider,
#backlight-slider {
    min-width: 140px;
    margin-left: 10px;
    margin-right: 10px;
}

#pulseaudio-slider,
#backlight-slider highlight {
    background-color: @itc;
    border-radius: 5px;
}
#tooltip {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#tooltip label {
    background-color: @bg1;
    color: @itc;           
    border: none;
    border-radius: 80px;
    padding: 8px 12px;
    margin: 4px;
    box-shadow: none;  
    font-size: 10px;
}


#brightness scale slider {
    min-width: 20px;      
    min-height: 20px;   
    border-radius: 10px;
}

#brightness scale trough {
    min-height: 8px;
    border-radius: 4px;
}

#brightness scale trough slider {
    background-color: transparent;
    min-width: 0px; 
    min-height: 0px;
}

#brightness scale trough highlight {  
    background-color: @itc;
    min-height: 8px;
}

#backlight {
    border-radius: 16px 0px 0px 15px;
    margin-right: 0px;
}
#battery {
    border-radius: 0px 16px 16px 0px;
    margin-left: 0px;
}
