window {
  background-color: transparent;
}

.clock-time {
  // font-family: monospace;
  font-size: 52px;
  font-weight: 500;
  color: $itc2;
  letter-spacing: 2px;
}

.clock-date {
  font-size: 16px;
  color: $itc2;
}
